{% load staticfiles i18n %}
<!DOCTYPE html>
<html>

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lipa ME</title>
  <link rel="shortcut icon" href="dummies/favicon.ico">

  <!-- GOOGLE FONTS : begin -->
  <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
  <!-- GOOGLE FONTS : end -->

  <!-- STYLESHEETS : begin -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'library/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'library/css/owl.carousel.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'library/css/animate.custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'library/css/magnific-popup.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'library/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'library/css/skins/yellow.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
  <!-- STYLESHEETS : end -->

  <!--[if lte IE 8]>
			<link rel="stylesheet" type="text/css" href="library/css/oldie.css">
			<script src="library/js/respond.min.js" type="text/javascript"></script>
        <![endif]-->
  <script src="{% static 'library/js/modernizr.custom.min.js' %}" type="text/javascript"></script>
  {% block extra-css %} {% endblock extra-css %}
</head>

<body class="enable-fixed-header enable-inview-animations">
  {% block header %} {% include 'partials/header.html' %} {% endblock header %}
  {% if request.user.is_authenticated %}
    {% block booking %} {% endblock booking %}
  {% endif %}
  <!-- CORE : begin -->
  <div id="core">

    <section class="content-section">
      <div class="container">
        <div class="row">

          {% block content %} {% endblock %}

        </div>
      </div>
  {% if not request.user.is_authenticated %}
  <!-- CONTENT SECTION : end -->
  <!-- CONTENT SECTION - SERVICES : begin -->
			<section class="content-section services">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">

							<!-- SERVICE 1 : begin -->
							<div class="service-container">
								<p class="service-icon"><i class="fa fa-money"></i></p>
								<h3 class="service-title">Buy your Train Ticket</h3>
								<p>Using LipaME you can your tickets using your phone</p>
							</div>
							<!-- SERVICE 1 : end -->

						</div>
						<div class="col-sm-4">

							<!-- SERVICE 2 : begin -->
							<div class="service-container">
								<p class="service-icon"><i class="fa fa-list"></i></p>
								<h3 class="service-title">View your Transactions</h3>
								<p>You see all your past transactions</p>
							</div>
							<!-- SERVICE 2 : end -->

						</div>
						<div class="col-sm-4">

							<!-- SERVICE 3 : begin -->
							<div class="service-container">
								<p class="service-icon"><i class="fa fa-ticket"></i></p>
								<h3 class="service-title">All in 3 steps</h3>
								<p>Easy to do</p>
							</div>
							<!-- SERVICE 3 : end -->

						</div>
					</div>
				</div>
			</section>
      <!-- BROWSE : begin -->
			<section id="browse">
				<div class="container">
					<h2>Train Stops And Pricing</h2>
					<div class="browse-inner">
						<div class="tabs-container">
							<ul class="custom-list tab-title-list">
								<li class="tab-title active"><a href="#top-destinations">Train Stops</a></li>
							</ul>
							<ul class="custom-list tab-content-list browse-contents">
								<li class="tab-content">

								</li>
								<li class="tab-content active">

									<!-- BROWSE DESTINATIONS : begin -->
									<div class="browse-destinations">

										<div class="row">
											<div class="col-sm-4">

												<!-- TOP DESTINATION 1 : begin -->
												<div class="top-destination">
													<img class="destination-thumb" src="dummies/top_destination_01.jpg" alt="">
													<div class="top-destination-inner">
														<h3>Nairobi</h3>
													</div>
												</div>
												<!-- TOP DESTINATION 1 : end -->

											</div>
											<div class="col-sm-4">

												<!-- TOP DESTINATION 2 : begin -->
												<div class="top-destination">
													<img class="destination-thumb" src="dummies/top_destination_02.jpg" alt="">
													<div class="top-destination-inner">
														<h3>New York</h3>
													</div>
												</div>
												<!-- TOP DESTINATION 2 : end -->

											</div>
											<div class="col-sm-4">

												<!-- TOP DESTINATION 3 : begin -->
												<div class="top-destination">
													<img class="destination-thumb" src="dummies/top_destination_03.jpg" alt="">
													<div class="top-destination-inner">
														<h3>Paris</h3>
													</div>
												</div>
												<!-- TOP DESTINATION 3 : end -->

											</div>
										</div>
										<div class="row">
											<div class="col-sm-4">

												<!-- TOP DESTINATION 4 : begin -->
												<div class="top-destination">
													<img class="destination-thumb" src="dummies/top_destination_04.jpg" alt="">
													<div class="top-destination-inner">
														<h3>Rome</h3>
													</div>
												</div>
												<!-- TOP DESTINATION 4 : end -->

											</div>
											<div class="col-sm-4">

												<!-- TOP DESTINATION 5 : begin -->
												<div class="top-destination">
													<img class="destination-thumb" src="dummies/top_destination_05.jpg" alt="">
													<div class="top-destination-inner">
														<h3>Dubai</h3>
													</div>
												</div>
												<!-- TOP DESTINATION 5 : end -->

											</div>
											<div class="col-sm-4">

												<!-- TOP DESTINATION 6 : begin -->
												<div class="top-destination">
													<img class="destination-thumb" src="dummies/top_destination_06.jpg" alt="">
													<div class="top-destination-inner">
														<h3>Tokyo</h3>
													</div>
												</div>
												<!-- TOP DESTINATION 6 : end -->

											</div>
										</div>

									</div>
									<!-- BROWSE DESTINATIONS : end -->

								</li>
								<li class="tab-content">


								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- BROWSE : end -->
{% endif %}
  <!-- FOOTER : begin -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">

          <!-- FOOTER TEXT : begin -->
          <p>Copyright 2017 &copy; Beyonic. All rights reserved.</p>
          <!-- FOOTER TEXT : end -->

        </div>
        <div class="col-sm-4">

          <!-- FOOTER SOCIAL : begin -->
          <ul class="footer-social custom-list">
            <li><a href="#" title="Facebook"><i class="fa fa-facebook-square"></i><span>Facebook</span></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter-square"></i><span>Twitter</span></a></li>
            <li><a href="#" title="Google+"><i class="fa fa-google-plus-square"></i><span>Google+</span></a></li>
            <li><a href="#" title="LinkedIn"><i class="fa fa-linkedin-square"></i><span>LinkedIn</span></a></li>
            <li><a href="#" title="Pinterest"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
          </ul>
          <!-- FOOTER SOCIAL : end -->

        </div>
      </div>
    </div>
  </footer>
  <!-- FOOTER : end -->

  <!-- SCRIPTS : begin -->
  <script src="{% static 'library/js/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'library/js/jquery-ui-1.10.4.custom.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'library/js/jquery.ba-outside-events.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'library/js/jquery.inview.min.js' %}" type="text/javascript"></script>
  <!--[if lte IE 8]>
		<script src="library/js/jquery.placeholder.js" type="text/javascript"></script>
		<![endif]-->
  <script src="{% static 'library/js/owl.carousel.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'library/js/jquery.magnific-popup.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'library/twitter/jquery.tweet.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'library/js/scripts.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/csrf.js' %}"></script>
  <!-- SCRIPTS : end -->
  {% block extra-js %} {% endblock extra-js %}

</body>

</html>

