
		<!-- HEADER : begin -->
		<header id="header">
			<div class="container">
				<div class="header-inner clearfix">

					<!-- HEADER BRANDING : begin -->
					<div class="header-branding">
            LipaME
					</div>
					<!-- HEADER BRANDING : end -->

					<!-- HEADER NAVBAR : begin -->
					<div class="header-navbar">

						<!-- HEADER TOOLS : begin -->
						<div class="header-tools">

							<!-- HEADER REGISTER : begin -->

							<div class="header-register">
                {% if not request.user.is_authenticated %}
								<button class="header-btn"><a href="{% url 'account_signup' %}"><i class="fa fa-plus-circle"></i> Register</a></button>
                {% endif %}
							</div>
							<!-- HEADER REGISTER : end -->

							<!-- HEADER LOGIN : begin -->

							<!-- HEADER LOGIN : end -->
              {% if request.user.is_authenticated %}
							<!-- HEADER ADD OFFER : begin -->
							<span class="header-add-offer"><a href="{% url 'account_logout' %}" class="button"><i class="fa fa-plus"></i> Logout</a></span>
							<!-- HEADER ADD OFFER : end -->
              {% else %}
              <span><a class="button" href="{% url 'account_login' %}"><i class="fa fa-power-off"></i> Login</a></span>
              {% endif %}
						</div>
						<!-- HEADER TOOLS : end -->

					</div>
					<!-- HEADER NAVBAR : end -->

					<!-- NAVBAR TOGGLE : begin -->
					<button class="navbar-toggle button"><i class="fa fa-bars"></i></button>
					<!-- NAVBAR TOGGLE : end -->

				</div>
			</div>
		</header>
		<!-- HEADER : end -->
